.location .box {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.location .box:hover {
    transform: scaleY(1.08);
    transition: all 0.5s;
    cursor: pointer;
}

.location img {
    border-radius: 5px;
}

.location .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 100%;
    color: #fff;
    z-index: 222;
}

.location .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 210px;
    background: rgb(15 28 47 / 30%);
    z-index: -1;
    margin: 20px;
    border-radius: 5px;
}

.location h5 {
    font-size: 18px;
    font-weight: 500;
}

.location label {
    color: #fff;
    margin-right: 20px;
    opacity: 0.8;
}

@media screen and (max-width: 1200px)  and (min-width: 763px) {

    .location .container h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .location .container p {
        font-size: 14px;
    }

    .location .overlay {
        width: 100%;
        height: 80%;
    }

    .location .overlay::after {
        width: 90%;
        height: 80%;
        margin: 10px;
    }

    .location h5 {
        font-size: 14px;
        font-weight: 300;
    }

    .location label {
        margin-right: 10px;
        font-size: 9px;
        font-weight: 300;
    }
    
}

@media screen and (max-width: 762px)  {

    .location .container h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .location .container p {
        font-size: 12px;
    }

    .location .overlay {
        width: 100%;
        height: 100%;
    }

    .location .overlay::after {
        width: 100%;
        height: 80%;
        margin: 10px;
    }

    .location h5 {
        font-size: 14px;
        font-weight: 300;
    }

    .location label {
        margin-right: 10px;
        font-size: 9px;
        font-weight: 300;
    }

    .location .box {
        display: grid;
        flex-direction: column;
        width: 100%;
    }

}