header {
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

header img {
    width: 170px;
}

header a {
    margin-left: 30px;
    font-weight: 500;
    transition: 0.5s;
}

header a:hover {
    color: #27ae60
}

header span {
    width: auto;
    padding: 0 6px;
    background-color: #27ae60;
    border-radius: 50px;
    color: #fff;
    margin-right: 4px;
    font-weight: 400;
}

header h4 {
    font-weight: 500;
    margin-right: 20px;
}

header .toggle {
    display: none;
}

@media screen and (max-width: 1200px) and (min-width: 763px) {
    header {
        padding: 0;
    }

    header .button {
        display: none;
    }

    header .nav .flex {
        display: none;
    }

    header .toggle {
        display: block;
        margin-top: 1.25vh;
    }

    header .small {
        position: absolute;
        top: 10vh;
        background-color: #27ae60;
        padding: 20px;
        width: 100%;
        left: 0;
    }

    header li a {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }

    .logo {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 762px) {
    header {
        padding: 0;
    }

    header .button {
        display: none;
    }

    header .nav .flex {
        display: none;
    }

    header .toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.25vh;
    }

    header .toggle > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    i {
        font-size: 10px !important;
    }

    header .small {
        position: absolute;
        top: 10vh;
        background-color: #27ae60;
        padding: 15px;
        width: 100%;
        left: 0;
    }

    header li a {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    header img {
        width: 100px;
    }

}